@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap'); 
@font-face { font-family: GoodTimes; src: url('../font/goodtimesrg.ttf'); } 
:root{
  --black: #000000;
  --white: #ffffff; 
  --Royalblue: #111FC5;
  --blue: #0D249B;
  --purple: #3700AC;
  --gradient-primary: linear-gradient(350deg, #0D249B 9.06%, rgba(55, 0, 172, 0.00) 68.85%);
  --gradient-secondary: linear-gradient(181deg, #290082 17.3%, rgba(0, 0, 0, 0.00) 111.7%);
  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 30px;
  --spacing-xs: 10px;
  --spacing-sm: 20px;
  --spacing-md: 30px;
  --spacing-lg: 50px;
}

html,body{padding: 0;margin: 0;height: 100%;width: 100%;background-color: #000;}
body{color:var(--white);margin: 0 auto; padding: 0px;font-size: 16px;line-height: 1.5;font-family: 'Poppins', sans-serif;position: relative; background-color: var(--black);}
*{margin: 0px; padding: 0px;box-sizing: border-box;}
button{background-color: transparent; border: 0px; outline: none;display: block;}
a{text-decoration: none;}
.sec_gap{padding-block: 50px;}
section{position: relative; z-index: 9;background-color: #000;}
ul{padding-inline-start: 0px;list-style: none;}
.container{max-width: 1338px; margin-inline: auto;width: 100%;padding-inline: 12px;}




@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
	
		transform: translatey(0px);
	}
}

.ai-brain img{height: 100%; width: 100%; object-fit: contain;}
ul.ai-animation-wrapper{ 
  display: flex; 
  justify-content: center; 
  width: 900px; 
  margin-inline: auto; 
  margin-block: 70px;
  position: relative;
  height: 900px; 
  margin-block-end: -347px; 
}

ul.ai-animation-wrapper li{
  border: 1px solid #343434;  
  border-radius: 50%;
  position: absolute; 
}

.animation-wrapper{
  position: relative; 
  height: 100%; 
  width: 100%; 
  padding: 70px; 
  top: 0; 
  left: 0;
}

ul.ai-animation-wrapper li:first-child{
  height: 100%; 
  width: 100%;
}

ul.ai-animation-wrapper li:nth-child(2){
  height: 84%; 
  width: 84%;
  left: 50%; 
  transform: translateX(-50%); 
  top: calc(900px - (900px - 8%));
}

ul.ai-animation-wrapper li:nth-child(3){
  height: 68%; 
  width: 68%;
  left: 50%; 
  transform: translateX(-50%); 
  top: calc(900px - (900px - 16%));
}

ul.ai-animation-wrapper li:first-child .animation-wrapper{
  animation: moveAround 20s linear infinite;
}

ul.ai-animation-wrapper li:nth-child(2) .animation-wrapper{
  animation: moveAroundLeft 20s linear infinite;
}

ul.ai-animation-wrapper li:nth-child(3) .animation-wrapper{
  animation: moveAround 20s linear infinite;
}

ul.ai-animation-wrapper li .ai-image{
  position: absolute;  
  height: 62px; 
  width: 62px; 
  padding: 10px; 
  background-color: #1800AA;
  border-radius: 10px;
  z-index: 2;
  transition: all .3s;
}

ul.ai-animation-wrapper li .ai-image:hover{
  box-shadow: 0px 0px 72px 0px rgb(60 161 255 / 91%); 
  transition: all .3s;
}

ul.ai-animation-wrapper li:first-child .ai-image{
  animation: moveAround 20s linear infinite reverse;
}

ul.ai-animation-wrapper li:nth-child(2) .ai-image{
  animation: moveAroundLeft 20s linear infinite reverse;
}

ul.ai-animation-wrapper li:first-child .ai-image.one{
  left: 67%;
  top: -5px;
}

ul.ai-animation-wrapper li:first-child .ai-image.two{
  left: -35px;
  top: 50%;
}

ul.ai-animation-wrapper li:nth-child(2) .ai-image.one{
  left: 20%; 
  top: 17px;
}

ul.ai-animation-wrapper li:nth-child(2) .ai-image.two{
  right: -35px;
  top: 50%;
}

ul.ai-animation-wrapper li:nth-child(2) .ai-image.three{
  left: 110px;
  top: 85%; 
}

.ani-dot{
  position: absolute;  
  height: 17px; 
  width: 17px; 
  border-radius: 50%; 
  background-color: #4B4B4B;
}

ul.ai-animation-wrapper li:first-child .ani-dot{
  top: 0; 
  left: 39%;
}

ul.ai-animation-wrapper li:nth-child(2) .ani-dot{
  top: 25%;
  left: 93%;
}

ul.ai-animation-wrapper li:nth-child(3) .ani-dot{
  top: 36%; 
  left: 0;
}

@keyframes moveAround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveAroundLeft {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

